.profil-section {
    margin: 40px auto;
    background: #fdfdfd;
    padding: 20px;

  }
button{
    border: none;
    color: #ccc;
  }
  .profil-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .edit-btn {
    margin-top: 15px;
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    align-items: center;
  }
  .edit-btn:hover {
    background: #0056b3;
  }
  input.profile-input {
    width: 100%;
    padding: 5px;
    margin-top: 4px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }